.App {
  text-align: center;
  background-color: rgb(136, 135, 231);
}
section {
  display: flex;
  justify-content: center;
}
.confirmed-card,
.death-card,
.recovered-card {
  height: 150px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 6px 7px 3px gray;
  font-style: normal;
}

.confirmed-card {
  background-color: yellow;
  border-radius: 50px 0 50px 0;
}
.death-card {
  background-color: red;
  border-radius: 50px 0 50px 0;
}
.recovered-card {
  background-color: green;
  border-radius: 50px 0 50px 0;
}
.title {
  border-bottom: 2px solid rgb(252, 249, 249);
}
select {
  height: 40px;
  border: none;
  margin: 30px;
  padding: 7px 10px;
  border-bottom: 1px solid rgb(81, 58, 214);
  font-size: 20px;
}

header {
  display: flex;
  justify-content: center;
  color: rgb(5, 5, 5);
  background-color: rgb(236, 40, 194);
  font-style: italic;
  font-size: 30px;
  border-radius: 90px 0.5px 90px 0.5px;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section,
div {
  font-style: normal;
}
